.TodoInput {
  width: 100%;
  padding: 16px;

  border: 1px solid #e91e63;
  border-radius: 8px;
}
.TodoInput-mascot {
  height: 104px;
}
.TodoInput-header {
  width: 100%;
  display: flex;
}
.TodoInput-message {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;

  color: white;
}
.TodoInput-input {
  margin-top: 8px;
}
.TodoInput-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
